<div class="panel panel-default">
	<div class="panel-heading">Add Music</div>
	<div class="panel-body">
		{{#if hasError}}
			<div class="alert alert-danger">Invalid Form</div>
		{{/if}}
		<form role="form" class="form-horizontal" {{action "addMusic" on="submit"}}>
			<div class="form-group">
				<label class="col-md-4 col-lg-3">Song</label>
				<div class="col-md-8 col-lg-9">
					{{input text="text" value=title required="true" placeholder="Shake It Off" class="form-control" action="change" on="key-press"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 col-lg-3">Artist</label>
				<div class="col-md-8 col-lg-9">
					{{input type="text" value=artist required="true" placeholder="Taylor Swift" class="form-control" action="change" on="key-press"}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 col-lg-3">Album</label>
				<div class="col-md-8 col-lg-9">
					{{input type="text" value=album required="true" placeholder="1989" class="form-control" action="change" on="key-press"}}
				</div>
			</div>
			<button class="pull-right btn btn-primary" {{action "addMusic"}}>
				Submit {{completed}}
			</button>
			<div class="clearfix"></div>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Music</div>
	<ul class="list-group">
		{{#each model as |song|}}
			{{item.url}}
			<li class="list-group-item">
				<div class="media">
					<div class="media-body">
						<div class="media-heading listItemLabelText">{{song.title}}</div>
						<div>{{song.artist}} &mdash; {{song.album}}</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
