<div class="row">
	<div class="col-md-4 {{if isDetail 'hidden-xs hidden-sm'}}">
		<div class="panel panel-default">
			<div class="panel-heading">
				Albums
				{{#link-to "music.new"}}{{fa-icon "plus" pull="right" classNames="panelHeaderAdd"}}{{/link-to}}
			</div>
			<ul class="list-group">
				{{#each model as |album|}}
					{{album-list-item album=album removeAlbum="removeAlbum" click="albumDetail" selectedAlbum=selectedAlbum}}
					{{else}}
						{{status-list-item label="Nothing to see here. Add some albums."}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="col-md-8 {{unless isDetail 'hidden-xs hidden-sm'}}">
		{{outlet}}
	</div>
</div>
